
#leftCol {
	float: left;
	padding: 20px 0 0 2px;
    position: relative;
    width: 179px;
/*     word-wrap: break-word; */
}
.showInfo{
	color: yellow;
	line-height: 1.2em;
	font-size: 12px;
}
.showInfoValid {
	margin-left: 10px;
	line-height: 1.2em;
	font-size: 10px;
	color: rgb(209, 50, 22);
}
#rightCol {
	padding-top: 15px;
	position: relative;
	text-align: left;
    border-left: 1px solid aqua;
    margin-left: 179px;
    min-height: 450px;
  /*   border: 1px solid yellow; */
}

#rtColHeader {
    margin: 0 20px 0;
    width: 759px;
    height: 44px;
	color: white;
	text-align: left;
	border-bottom: 1px solid white;
}

#tabContent{
	padding: 0 20px;
    width: 759px;
}

h4, div.openPane { 
	margin: 0;
	min-width: 165px;
	float: left;
	font-size: 14px;
	padding-left:10px;
}

li a.selected{ 
	background-color: rgba(0, 255, 255, .5);
}
li a.selected:hover{ 
	color: white;
}

li.settingsListItem {
	border-bottom: 1px solid white;
}
a.hide, span.hide {
	display: none !important;
}
li.settingsListItem a:hover, li.leftColItem a:hover {
	background-color: rgba(255, 255, 255, 0.356);	
}
.settingsDisplay { 
	margin-left: 175px; 
	display: block;
}
form.settingsForm { 
	border-top: 1px solid white;
	background-color: rgb(93, 182, 204) !important;
	padding-right: 155px; 
	font-size: 14px;
}

span.settings.formErr{
	font-size: 10px;
	margin-left: 7px;
}
div.formErr{
	margin-left: 20px;
	color:yellow;
	margin-top: 40px;
}
input.red {
	background-color: yellow !important;
}
input.signup.update {
	margin-bottom: 8px;
	padding: 3px;
}
input.updatebtn{
	margin: 8px 8px 8px 0;
	line-height: initial;
	text-transform: capitalize;
	padding: 6px;
	color: yellow;
}
input.updatebtn:hover{
	cursor: pointer;
}
.settings.disclaimer{
	font-size: 14px;
	line-height: 1.4em !important;
	background-color: #199cd862;
	margin-bottom: 3px;
	margin-top: 5px;
	padding: 3px;
	border-radius: 4px;
}
span.settingsChange {
	float: right;
	padding-right: 10px;
}

ul#settingsUl {padding-left: 20px; margin: 0;}

a.leftColItem{ cursor: pointer; display: block; padding: 10px  5px;}
a.settingsAnchor {
	display: block;
	padding: 10px 0;
	cursor: pointer;
}
div.updateInfo {
	display: none;
	color: green;
}
div.settingsEditorFields {
	margin-left: 180px;
	width: 400px;
	text-align: left;
}
div.settingsEditorLabel {
	margin: 10px;
	width: 155px;
	float: left;
	font: 14px Arial;
}
/* div.settingsEditor {

} */
