@import url(https://fonts.googleapis.com/css?family=Roboto:300);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* BODY FORMAT */
/*----------------------------------------------------------------------------------*/
html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-color: aqua;
  line-height: 1.8em;
}

body.servicePage {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(57%, rgba(12, 12, 12, 0.67)), color-stop(65%, rgba(12, 12, 12, 0.67))) no-repeat, #c57600 url(../images/drone3.png) fixed 0% 50%;
  background: linear-gradient(rgba(12, 12, 12, 0.67) 57%, rgba(12, 12, 12, 0.67) 65%) no-repeat, #c57600 url(../images/drone3.png) fixed 0% 50%;
  padding-top: 10rem;
}

body.servicePage div.serviceMsg {
  border: 4px solid #fff51c;
  padding: 100px 140px 140px 140px;
  font-size: 12px;
  margin: 0 auto;
  background-color: #c57600;
  width: 700px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 12px grey inset;
          box-shadow: 1px 1px 12px grey inset;
}

body.servicePage div.serviceMsg img {
  display: block;
  height: 40px;
  width: 40px;
  margin: 2px auto;
}

div.content {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(57%, rgba(197, 118, 0, 0.37)), color-stop(65%, rgba(197, 118, 0, 0.37))) no-repeat, url(../images/suburbs.jpg) no-repeat fixed 0% 50%;
  background: linear-gradient(rgba(197, 118, 0, 0.37) 57%, rgba(197, 118, 0, 0.37) 65%) no-repeat, url(../images/suburbs.jpg) no-repeat fixed 0% 50%;
  width: 100%;
  text-align: center;
  height: 100vh;
  overflow-x: hidden;
}

div#loginContent.content div.nav_logged_out div#showHamburger.openHamburger {
  background-color: #4fac9c;
  border-top: 2px solid #36aa95;
}

div#loginContent.content div#localContent {
  overflow: visible;
}

div#loginContent.content div.indexPgNav {
  visibility: hidden;
}

div.content.signup {
  font-size: 20px;
  background: aqua url(../images/spongebobblank.jpg) no-repeat 70% 0%;
  background-size: 100% 100%;
  position: relative;
}

div.content.signup div#localContent {
  margin-top: 60px;
}

div.content.editprofile {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(57%, rgba(12, 12, 12, 0.47)), color-stop(65%, rgba(12, 12, 12, 0.47))) no-repeat, #c57600 url(../images/drone3.png) fixed 0% 50%;
  background: linear-gradient(rgba(12, 12, 12, 0.47) 57%, rgba(12, 12, 12, 0.47) 65%) no-repeat, #c57600 url(../images/drone3.png) fixed 0% 50%;
  background-size: 100% 100%;
  position: relative;
}

div.content.chatPage {
  background: aqua url(../images/SBSP_PRE_E3-Credits.png) no-repeat 70% 0%;
  background-size: 100% 100%;
  position: fixed;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup, li {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0 0 .5em 0;
  font-weight: normal;
  color: #ffd600;
  letter-spacing: .07em;
}

h2 {
  font-size: 1.9em;
  margin: 0 0 1em 0;
  font-weight: normal;
  color: #ffd600;
  letter-spacing: .15em;
}

h3 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
  font-weight: normal;
  color: #ffd600;
  letter-spacing: .2em;
}

li a {
  color: white;
  font: 16px Arial;
  padding: 0;
}

li a:hover {
  color: #ffd600;
  font: 16px Arial;
}

ul li {
  list-style: none;
  font: 1em;
}

a {
  text-decoration: none;
  color: #fff51c;
}

i.fas, i.far {
  font-family: 'Fontawesome';
  font-style: normal;
  color: white;
}

i.fas:hover, i.far:hover {
  color: #fff51c;
}

i.fas.check, i.far.check {
  color: #5ad45a;
}

i.fas.close, i.far.close {
  color: red !important;
  margin-right: 5px !important;
  font-size: 15px !important;
}

input.loginfield, input.signup, .viewme {
  padding: 2px;
  border-radius: 4px;
  font-size: 12px;
}

button,
.button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  background-color: #199cd8;
  background-clip: border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  outline: none;
  font-size: 12px;
  font-weight: 400px;
  letter-spacing: 1px;
  padding: 0 17px;
  text-transform: uppercase;
  line-height: 40px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  cursor: pointer;
}

button:hover,
.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #1581b2;
  color: yellow;
}

/* Active */
button:active,
.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-color: #199cd8;
}

/* ---------------RADIO LABELS ---------*/
span.radioLabel {
  margin-left: 5px;
  margin-right: 13px;
  vertical-align: middle;
}

/* a:hover {text-decoration: underline}; */
article {
  text-align: center;
}

p.subtext {
  margin: 5px 0 10px 10px;
  font-size: 16px;
  font-weight: 400;
}

div.login {
  position: relative;
}

div.login div.loginErrMsg {
  padding: 5px 0px 0px 5px;
  margin-top: -27px;
  position: absolute;
  color: yellow;
  font-size: 10px;
  font-weight: 600;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.mtp {
  margin-top: 10px;
}

.mbm {
  margin-bottom: 10px;
}

.ptp {
  padding-top: 10px;
}

.pbm {
  padding-bottom: 10px;
}

/* 
input[type="text"] {width: 130px;}
 */
label {
  margin-left: 10px;
}

#col2 {
  float: right;
  margin: 20px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  padding-top: 150px;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.82);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 7px;
  max-width: 450px;
  width: 50%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

/* Modal Header */
.modal-header {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 2px 16px;
  background-color: #c57600;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 10px 16px;
  background-color: #c57600;
  color: white;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div#content {
  border: 2px solid yellow;
  min-height: 728px;
  margin: 0px auto;
  position: relative;
  clear: both;
}

div#loginContent.content div.nav_logged_out div#showHamburger.openHamburger {
  background-color: #4fac9c;
  border-top: 2px solid #36aa95;
}

div#loginContent.content div.nav_logged_out div#showHamburger.openHamburger input[type="submit"] {
  margin-top: 5px;
  width: 170px;
}

div#topNavContainer {
  z-index: 1;
}

div#topNavContainer.indexPgNav {
  background-image: linear-gradient(141deg, rgba(158, 183, 173, 0.7) 10%, rgba(94, 197, 169, 0.68) 53%);
}

div#topNavContainer div.nav_logged_out {
  position: relative;
  z-index: 1;
  max-width: 1350px;
  margin: auto;
}

div#topNavContainer div.nav_logged_out input[type="email"], div#topNavContainer div.nav_logged_out input[type="password"] {
  padding: 5px;
  width: 170px;
}

div#topNavContainer div.nav_logged_out input[type="submit"].loginBtn {
  padding: 6px 8px;
  line-height: initial;
}

div#topNavContainer div.nav_logged_out div.hamburger {
  padding: 20px;
  cursor: pointer;
  float: right;
  font-size: 35px;
}

div#topNavContainer div.nav_logged_out div.hamburger.hide {
  display: none;
}

div#topNavContainer div.nav_logged_out input[type="button"] {
  background-color: #ce7e1b;
}

div#topNavContainer div.nav_logged_out div#showHamburger {
  visibility: hidden;
  position: absolute;
  top: 70px;
  right: 0;
  width: 215px;
  background-color: rgba(218, 131, 50, 0.8);
  font-size: 35px;
  padding: 10px;
  overflow: hidden;
  height: 195px;
}

div#topNavContainer div.nav_logged_out div#showHamburger div#hamburgerContent {
  position: relative;
}

div#topNavContainer div.nav_logged_out div#showHamburger ul {
  display: inline-block;
}

div#topNavContainer div.nav_logged_out div#showHamburger ul li {
  margin-bottom: 6px;
  padding: 2px 45px;
}

div#topNavContainer div.nav_logged_out div#showHamburger ul li:hover {
  background-color: #3fadc0;
}

div#localContent {
  position: relative;
  height: auto;
  width: auto;
  overflow: auto;
}

div#settingsPane {
  margin-top: 2%;
  margin-left: 1%;
  display: inline-block;
  -webkit-box-shadow: 0 0 15px 1px gray;
          box-shadow: 0 0 15px 1px gray;
  color: white;
  padding: 40px;
  min-height: 500px;
  border-radius: 8px;
  background-image: linear-gradient(141deg, rgba(158, 183, 173, 0.705) 0%, rgba(218, 159, 31, 0.878) 51%, rgba(232, 144, 44, 0.823) 75%);
}

/*----------------------------------------- SIGNUP FORM ---------------------------------------------*/
div.localContent.loginPage {
  max-width: 1350px;
  min-width: 730px;
  margin: auto;
}

div.localContent.loginPage img.spongebobTitle {
  width: 100%;
}

div.localContent.loginPage img.spongebobSubtitle {
  width: 87.1%;
}

section#welcome {
  /* fff51c yellow*/
  background: radial-gradient(#00808052 57%, teal 65%) no-repeat, url(../images/highres.jpg) no-repeat 63% 122%;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 2em;
  padding-bottom: 9em;
  display: inline-block;
  margin: 3% 2% 0 1%;
  width: 56%;
  color: white;
}

section#welcome #welcomemsg {
  margin-top: 28px;
}

section#welcome h2#maintitle > img {
  margin-bottom: 6%;
}

section#welcome h3 {
  margin-top: 60px;
  color: white;
  letter-spacing: normal;
}

section#signupdiv {
  color: white;
  padding-bottom: 20px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 47%;
  -webkit-box-shadow: 0 0 29px 6px black;
          box-shadow: 0 0 29px 6px black;
}

section#signupdiv div#header {
  background-color: #c57600;
  padding: 20px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

section#signupdiv h2 {
  margin-bottom: -59px;
  color: #4a4a4a;
  letter-spacing: normal;
  margin-top: 11px;
}

section#signupdiv img.droneImg {
  position: absolute;
  top: -52px;
  left: -153px;
  width: 350px;
  -webkit-transform: rotate(-46deg);
          transform: rotate(-46deg);
}

section#signupdiv div#signupform {
  position: relative;
  padding: 20px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffffd5;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

section#signupdiv div#signupform div.formMsg {
  font-size: 12px;
  color: #fff51c;
  position: absolute;
  line-height: 1.1em;
}

section#signupdiv div#signupform input.yellow {
  background-color: #fff51c;
}

section#signupdiv div#signupform input#signupbtn {
  width: 100%;
  background-color: #c57600;
  color: black;
  font-weight: 800;
}

section#signupdiv div#signupform input#signupbtn:hover {
  color: #ffd600;
}

section#signupdiv div#signupform input#submit {
  width: 100%;
  background-color: #c57600;
  color: black;
  font-weight: 800;
}

section#signupdiv div#signupform input#submit:hover {
  color: #ffd600;
}

section#signupdiv table#signuptable {
  margin: 0px auto;
  font-size: 18px;
  text-align: initial;
  width: 70%;
}

section#signupdiv table#signuptable td#asterisk {
  font-size: 12px;
  padding-left: 14px;
}

section#signupdiv table#signuptable td {
  padding: 3px 0;
}

section#signupdiv table#signuptable td input[type="text"], section#signupdiv table#signuptable td input[type="password"] {
  width: 100%;
  font-size: 16px;
  padding: 10px 10px;
}

section#signupdiv table#signuptable tr.errMsgTr {
  line-height: initial;
  color: red;
  font-size: 12px;
}

section#signupdiv table#signuptable tr.errMsgTr td {
  padding: 0 0 0 5px;
}

section#signupdiv div#signupfb {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section#signupdiv div#signupfb p {
  margin-bottom: 5px;
}

section#signupdiv div#signupfb div.verticalLine {
  border-left: 1px solid white;
  height: 70px;
  margin: 15px auto;
  width: 1px;
}

footer {
  border: 2px solid yellow;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  max-width: 1024px;
  margin: 0 auto 0px auto;
  /* 	clear: both; */
}

#bottomnav {
  position: relative;
  width: 75%;
  padding: 6% 0;
  font-size: .85em;
  margin-left: 15px;
  border: 1px solid yellow;
}

#editprof td:nth-child(1),
#signupdiv td:nth-child(1) {
  /* 	text-align: right; */
  padding-right: 13px;
}

/*--------------- TOP LEFT LOGO-------------- */
#toplogo {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  margin-right: 20px;
  margin-top: 6px;
  width: auto;
  float: left;
}

#toplogo img#navLogo {
  width: 81px;
  position: absolute;
  display: block;
  margin-left: 70px;
}

/*------------------- TOP NAVIGATION-----------------*/
#navbar {
  top: 0;
  position: relative;
  margin: 0 0 0 18%;
  width: 500px;
  padding: 16px 0;
  text-align: left;
}

ul.menu_standard li {
  display: inline-block;
  margin-right: 15%;
}

/*------------------------------------- BUTTONS AND INPUT FIELDS -------------------------------------------*/
#navbuttons {
  position: relative;
  margin-top: 18px;
  margin-right: 5px;
  float: right;
}

section#loginform {
  background-image: linear-gradient(141deg, rgba(158, 183, 173, 0.8) 0%, rgba(31, 200, 219, 0.8) 51%, rgba(44, 181, 232, 0.8) 75%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  padding: 40px 20px;
  margin: 0 auto;
  width: 300px;
}

div.fieldContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

div.fieldContainer label {
  margin-right: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#terms {
  text-decoration: none;
  color: #ffd600;
}

a#terms:hover {
  color: yellow;
}

form.topbutton {
  display: inline;
  margin-left: 4px;
}

.topbutton:hover {
  cursor: pointer;
}

.button2, #signup {
  background-color: #ce7e1b !important;
}

#button1 {
  width: 13.5em;
}

.button2 {
  width: 14.5em;
}

/*----------------------------------------- EDIT PROFILE ----------------------------------------------*/
div#settingsPane #leftCol {
  float: left;
  padding: 20px 0 0 2px;
  position: relative;
  width: 179px;
  /*     word-wrap: break-word; */
}

div#settingsPane .showInfo {
  color: yellow;
  line-height: 1.2em;
  font-size: 12px;
}

div#settingsPane .showInfoValid {
  margin-left: 10px;
  line-height: 1.2em;
  font-size: 10px;
  color: #d13216;
}

div#settingsPane #rightCol {
  padding-top: 15px;
  position: relative;
  text-align: left;
  border-left: 1px solid white;
  margin-left: 179px;
  min-height: 450px;
  /*   border: 1px solid yellow; */
}

div#settingsPane #rtColHeader {
  margin: 0 20px 0;
  width: 759px;
  height: 44px;
  color: white;
  text-align: left;
  border-bottom: 1px solid white;
}

div#settingsPane #tabContent {
  padding: 0 20px;
  width: 759px;
}

div#settingsPane h4, div#settingsPane div.openPane {
  margin: 0;
  min-width: 165px;
  float: left;
  font-size: 14px;
  padding-left: 10px;
}

div#settingsPane li a.selected {
  background-color: rgba(255, 153, 0, 0.5);
}

div#settingsPane li a.selected:hover {
  color: white;
}

div#settingsPane li.settingsListItem {
  border-bottom: 1px solid white;
}

div#settingsPane a.hide, div#settingsPane span.hide {
  display: none !important;
}

div#settingsPane li.settingsListItem a:hover, div#settingsPane li.leftColItem a:hover {
  background-color: rgba(255, 255, 255, 0.356);
}

div#settingsPane .settingsDisplay {
  margin-left: 175px;
  display: block;
}

div#settingsPane form.settingsForm {
  border-top: 1px solid white;
  background-color: #cca44b !important;
  padding-right: 155px;
  font-size: 14px;
}

div#settingsPane span.settings.formErr {
  font-size: 10px;
  margin-left: 7px;
}

div#settingsPane div.formErr {
  margin-left: 20px;
  color: yellow;
  margin-top: 40px;
}

div#settingsPane input.red {
  background-color: yellow !important;
}

div#settingsPane input.signup.update {
  margin-bottom: 8px;
  padding: 3px;
}

div#settingsPane input.updatebtn {
  margin: 8px 8px 8px 0;
  line-height: initial;
  text-transform: capitalize;
  padding: 6px;
  color: yellow;
}

div#settingsPane input.updatebtn:hover {
  cursor: pointer;
}

div#settingsPane .settings.disclaimer {
  font-size: 14px;
  line-height: 1.4em !important;
  background-color: #199cd8;
  margin-bottom: 3px;
  margin-top: 5px;
  color: yellow;
  padding: 3px;
  border-radius: 4px;
}

div#settingsPane span.settingsChange {
  float: right;
  padding-right: 10px;
}

div#settingsPane ul#settingsUl {
  padding-left: 20px;
  margin: 0;
}

div#settingsPane a.leftColItem {
  cursor: pointer;
  display: block;
  padding: 10px  5px;
}

div#settingsPane a.settingsAnchor {
  display: block;
  padding: 10px 0;
  cursor: pointer;
}

div#settingsPane div.updateInfo {
  display: none;
  color: green;
}

div#settingsPane div.settingsEditorFields {
  margin-left: 180px;
  width: 400px;
  text-align: left;
}

div#settingsPane div.settingsEditorLabel {
  margin: 10px;
  width: 155px;
  float: left;
  font: 14px Arial;
}

/*----------------------------------------- MY PROFILE ----------------------------------------------*/
div.sunsetFilter {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(57%, rgba(197, 118, 0, 0.37)), color-stop(65%, rgba(197, 118, 0, 0.37))) no-repeat, url(../images/suburbs.jpg) no-repeat fixed 0% 50%;
  background: linear-gradient(rgba(197, 118, 0, 0.37) 57%, rgba(197, 118, 0, 0.37) 65%) no-repeat, url(../images/suburbs.jpg) no-repeat fixed 0% 50%;
}

div.sunsetFilter div.myProfilePgNav {
  position: relative;
}

section.myprofile {
  margin-top: 20px;
  position: relative;
  height: 645px;
  color: white;
}

section.myprofile section#myProfile div.noData {
  border: 3px dashed #ffffff8c;
  border-radius: 6px;
  margin: 0 3%;
  height: 250px;
  color: #ffffff8c;
  cursor: pointer;
}

section.myprofile section#myProfile div.noData:hover {
  background-color: rgba(255, 255, 255, 0.24);
}

section.myprofile section#myProfile #demographics {
  display: inline-block;
  height: 450px;
  -webkit-box-shadow: -3px 0px 15px 2px #3b3a3a;
          box-shadow: -3px 0px 15px 2px #3b3a3a;
  border-radius: 6px;
  min-width: 350px;
  background-image: linear-gradient(-2000deg, rgba(218, 151, 50, 0.8) 60%, rgba(3, 3, 2, 0.782) 90%);
  font-size: 16px;
  text-align: center;
  padding: 10px 22px;
  margin-top: 3px;
}

section.myprofile section#myProfile #demographics p {
  text-align: left;
}

section.myprofile section#myProfile #demographics > div {
  display: inline-block;
}

section.myprofile section#myProfile #demographics div.noData {
  width: 200px;
  height: 200px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 100px;
}

section.myprofile section#myProfile #demographics i#profilePic {
  display: inline-block;
  font-size: 145px;
  color: #ffffff8c;
  margin-top: 75px;
}

section.myprofile section#myProfile #demographics img#profilePic {
  border: 3px solid white;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  background-color: gray;
}

section.myprofile section#myProfile div.chat {
  font: 13px "Trebuchet MS", sans-serif;
  display: inline-block;
  vertical-align: top;
  height: 450px;
  padding: 10px 20px;
  margin-top: 3px;
  -webkit-box-shadow: 0 0px 15px 2px #3b3a3a;
          box-shadow: 0 0px 15px 2px #3b3a3a;
  border-radius: 6px;
  width: 340px;
  background-image: linear-gradient(141deg, rgba(50, 192, 218, 0.8) 20%, rgba(236, 222, 29, 0.8) 61%);
}

section.myprofile section#myProfile div.chat .chatstatus,
section.myprofile section#myProfile div.chat .chatmsgs,
section.myprofile section#myProfile div.chat textarea,
section.myprofile section#myProfile div.chat .chatname {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  outline: none;
}

section.myprofile section#myProfile div.chat div#disconnect {
  position: relative;
}

section.myprofile section#myProfile div.chat div#disconnect input.chatname {
  border-radius: 10px 10px 0px 0px;
  border-bottom: none;
  width: 100%;
}

section.myprofile section#myProfile div.chat div#disconnect button.disconnect {
  position: absolute;
  right: 0px;
}

section.myprofile section#myProfile div.chat div.chatmsg {
  margin-bottom: 7px;
}

section.myprofile section#myProfile div.chat div.chatmsg span.msgName {
  font-weight: 600;
}

section.myprofile section#myProfile div.chat div.chatmsg.connectmsg {
  font-style: italic;
  float: left;
  padding: 0 25px;
  text-align: center;
  margin-bottom: 13px;
  margin-top: 6px;
}

section.myprofile section#myProfile div.chat div.chatmsg.speech-bubble-lt {
  float: left;
  position: relative;
  background: rgba(0, 255, 255, 0.5);
  border-radius: 10px;
  max-width: 180px;
  padding: 6px;
  padding-left: 9px;
  margin-right: 100px;
}

section.myprofile section#myProfile div.chat div.chatmsg.speech-bubble-lt:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 8%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: rgba(0, 255, 255, 0.5);
  border-bottom: 0;
  border-left: 0;
  margin-left: -11px;
  margin-bottom: -6px;
}

section.myprofile section#myProfile div.chat div.chatmsg.speech-bubble-rt {
  float: right;
  position: relative;
  background: greenyellow;
  border-radius: 10px;
  max-width: 180px;
  padding: 6px;
  padding-left: 9px;
  margin-left: 100px;
}

section.myprofile section#myProfile div.chat div.chatmsg.speech-bubble-rt:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 94%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: greenyellow;
  border-bottom: 0;
  border-right: 0;
  margin-right: -10px;
  margin-bottom: -6px;
}

section.myprofile section#myProfile div.chat div#outputStatus {
  margin-bottom: 15px;
  font-style: italic;
  float: left;
}

section.myprofile section#myProfile div.chat textarea {
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  height: 45px;
  border-top: none;
  border-bottom: none;
  resize: none;
  padding-bottom: 5px;
}

section.myprofile section#myProfile div.chat div.chatstatus {
  border: none;
  color: white;
  padding-left: 1px;
}

section.myprofile section#myProfile div.chat div.chatmsgs {
  color: black;
  background: white;
  height: 320px;
  overflow-y: scroll;
  text-align: left;
}

section.myprofile section#myProfile div.chat div.chatmsgs div#chatBoxText {
  margin-top: 100px;
  text-align: center;
  color: #bbb;
  font-size: 20px;
}

section.myprofile section#myProfile div.chat button.disconnect {
  font-size: 8px;
  padding: 18px 3px 15px 3px;
  line-height: 0px;
  border-radius: 0 10px 0 0;
  letter-spacing: .3px;
  display: inline;
  border: 1px solid #bbb;
  border-bottom: none;
  border-left: none;
  cursor: pointer;
}

section.myprofile section#myProfile article#chatMembers {
  display: inline-block;
  vertical-align: top;
  height: 450px;
  padding: 10px 12px;
  overflow: scroll;
  min-width: 350px;
  margin-top: 3px;
  -webkit-box-shadow: 2px 0px 15px 1px #3b3a3a;
          box-shadow: 2px 0px 15px 1px #3b3a3a;
  border-radius: 6px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(218, 151, 50, 0.8)), color-stop(80%, rgba(3, 3, 2, 0.582)));
  background-image: linear-gradient(-180deg, rgba(218, 151, 50, 0.8) 40%, rgba(3, 3, 2, 0.582) 80%);
}

section.myprofile section#myProfile article#chatMembers div.usersOnline {
  margin: 0px 10px 10px;
  display: inline-block;
}

section.myprofile section#myProfile article#chatMembers p.subtextScroll {
  margin-bottom: 10px;
}

section.myprofile section#myProfile article#chatMembers table.userScroll {
  margin-bottom: 24px;
  position: relative;
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.userBurger {
  cursor: pointer;
  position: absolute;
  padding: 15px;
  top: 8px;
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.userBurger i.burgerDots {
  font-size: 22px;
  margin-left: 5px;
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.userBurger i.burgerDots.hide {
  display: none;
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.userBurger i.burgerDots:hover {
  -webkit-box-shadow: 0 10px 35px 5px yellowgreen;
          box-shadow: 0 10px 35px 5px yellowgreen;
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.userBurgerOpen {
  display: none;
  position: relative;
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.userBurgerOpen.open {
  display: initial;
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.userBurgerOpen div.userBurgerMenu {
  position: absolute;
  overflow: hidden;
  top: 22px;
  left: -100px;
  background-color: rgba(153, 205, 50, 0.8);
  padding-left: 5px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 15px .5px gray;
          box-shadow: 0 2px 15px .5px gray;
  -webkit-animation: example .5s;
          animation: example .5s;
}

@-webkit-keyframes example {
  from {
    left: 0px;
    width: 0px;
  }
  to {
    left: -100px;
    width: 113px;
  }
}

@keyframes example {
  from {
    left: 0px;
    width: 0px;
  }
  to {
    left: -100px;
    width: 113px;
  }
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.userBurgerOpen div.userBurgerMenu .scrollIcons {
  padding-right: 7px;
  margin-right: 13px;
  cursor: pointer;
}

section.myprofile section#myProfile article#chatMembers table.userScroll div.demosScroll {
  padding-left: 15px;
  line-height: 1.3em;
  font-size: 13px;
  text-align: left;
  width: 150px;
  white-space: nowrap;
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.scrollIcons {
  padding: 0 10px;
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.scrollIcons.hide {
  display: none;
}

section.myprofile section#myProfile article#chatMembers table.userScroll td.scrollIcons:hover {
  cursor: pointer;
}

section.myprofile section#myProfile section.instagram {
  text-align: center;
}

section.myprofile section#myProfile article#instagram {
  display: inline-block;
  width: 100%;
  max-width: 964px;
  min-height: 290px;
  max-height: 700px;
  overflow: auto;
  margin-top: 7px;
  margin-bottom: 60px;
  overflow: auto;
  -webkit-box-shadow: 0 0 15px 2px #3b3a3a;
          box-shadow: 0 0 15px 2px #3b3a3a;
  border-radius: 6px;
  background-image: linear-gradient(141deg, rgba(236, 222, 29, 0.8) 20%, rgba(50, 192, 218, 0.8) 61%);
}

section.myprofile section#myProfile article#instagram img.igImage {
  width: 250px;
  height: 250px;
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
}

section.myprofile section#myProfile article#instagram img.igImage:nth-child(odd) {
  margin: 0px 30px 30px 30px;
}

section.myprofile section#myProfile img.myPicScroll {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 25px;
  border: 1px solid white;
}

section.myprofile section#myProfile div.userStockImg {
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.24);
}

section.myprofile section#myProfile i.userStockImg {
  position: absolute;
  top: 19px;
  left: 10px;
  font-size: 39px;
}

section.myprofile section#myProfile i.userStockImg:hover {
  color: white;
}

div.content.viewProfile {
  background: aqua no-repeat 70% 0%;
  background-size: 100% 100%;
  text-align: right;
}

div.content.viewProfile .nav_logged_out {
  position: absolute;
  width: 100%;
}

div.content.viewProfile article#viewIG {
  display: inline-block;
  width: 100%;
  max-width: 764px;
  height: 700px;
  overflow: auto;
  padding-top: 70px;
  margin-bottom: 60px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

div.content.viewProfile article#viewIG img.igImage {
  width: 150px;
  height: 150px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

div.content.viewProfile article#viewIG img.igImage:nth-child(odd) {
  margin: 0px 10px 10px 10px;
}

/*------------------------------------------- RESPONSIVE --------------------------------------------- */
@media only screen and (min-width: 50px) and (max-width: 1060px) {
  ul.menu_standard li {
    margin-right: 9%;
  }
  section.instagram {
    width: 888px;
    display: inline-block;
  }
  div.usersOnline {
    width: 250px;
  }
}

@media only screen and (min-width: 50px) and (max-width: 963px) {
  article#chatMembers,
  section.instagram {
    width: 590px;
  }
  ul.menu_standard li {
    margin-right: 7%;
  }
  div.usersOnline {
    width: unset;
  }
  section.myprofile section#myProfile article#instagram img.igImage:nth-child(odd) {
    margin: 0px 0px 30px 30px;
  }
}

@media only screen and (min-width: 50px) and (max-width: 950px) {
  #topNavContainer div.nav_logged_out div#showHamburger.openHamburger {
    visibility: visible;
    -webkit-animation: openHamburger .7s;
            animation: openHamburger .7s;
  }
  @-webkit-keyframes openHamburger {
    from {
      height: 0px;
    }
    to {
      height: 195px;
    }
  }
  @keyframes openHamburger {
    from {
      height: 0px;
    }
    to {
      height: 195px;
    }
  }
  #topNavContainer div.nav_logged_out div#showHamburger.openHamburger div#hamburgerContent {
    -webkit-animation: ul .7s;
            animation: ul .7s;
  }
  @-webkit-keyframes ul {
    from {
      margin-top: -192px;
    }
    to {
      margin-top: 0px;
    }
  }
  @keyframes ul {
    from {
      margin-top: -192px;
    }
    to {
      margin-top: 0px;
    }
  }
  .welcome {
    margin-top: 60%;
  }
  #toplogo {
    border: none;
    display: hidden;
  }
  nav.myProfileNav {
    position: fixed;
    width: 100%;
    margin: 0;
  }
  #button1 {
    width: 9.5em;
  }
  .button2 {
    width: 10.5em;
  }
  .open {
    height: 300px;
  }
}

@media only screen and (min-width: 50px) and (max-width: 935px) {
  #navbuttons {
    display: none;
  }
  ul.menu_standard li {
    display: none;
  }
  div.editProfileNav, div.loginNav {
    background-image: linear-gradient(141deg, rgba(158, 183, 173, 0.8) 0%, rgba(31, 199, 218, 0.8) 51%, rgba(44, 181, 232, 0.8) 75%);
    -webkit-box-shadow: 0px 0px 13px 1px #3b3a3a;
            box-shadow: 0px 0px 13px 1px #3b3a3a;
  }
}

@media only screen and (min-width: 50px) and (max-width: 596px) {
  article#chatMembers,
  section.instagram,
  article#demographics {
    width: 340px;
  }
  img.igImage {
    margin-right: none;
  }
  section.myprofile section#myProfile article#instagram img.igImage:nth-child(odd) {
    margin: 0px 0px 30px 0px;
  }
}

@media only screen and (min-width: 50px) and (max-width: 380px) {
  article#chatMembers,
  section.instagram,
  div.usersOnline,
  article#demographics,
  section.myprofile section#myProfile div.chat {
    width: 275px;
  }
  section.myprofile section#myProfile article#instagram img.igImage {
    width: 180px;
    height: 180px;
  }
  section.myprofile section#myProfile div.chat div.chatmsg.speech-bubble-lt {
    margin-right: 70px;
  }
  section.myprofile section#myProfile div.chat div.chatmsg.speech-bubble-rt {
    margin-left: 70px;
  }
}
/*# sourceMappingURL=style.css.map */