* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

									/* BODY FORMAT */
/*----------------------------------------------------------------------------------*/

html,body {height:100%;}
body{
	font-size: 16px;
	font-family: sans-serif;
	background-color: aqua;
	line-height: 1.8em;
	// overflow: hidden;
}

//Service pages
body.servicePage{
	background-color: initial;

	div.serviceMsg{
		border: 4px solid #fff51c;
		padding: 100px 140px 140px 140px;
		font-size: 12px;
		margin: 10rem auto 0 auto;
		background-color: rgba(0, 255, 255, 0.5);
		width: 700px;
		text-align: center;
		box-shadow: 1px 1px 12px grey inset;

		img{
			display: block;
			height: 40px;
			width: 40px;
			margin: 2px auto;
		}
	}
}

div.content {
	//font-family: 'Roboto', sans-serif;
	// background: radial-gradient(#00808052 57%,teal 65%) no-repeat, teal url(../images/highres.jpg) no-repeat 70% 0%;
	
    background-color: teal;
	// background-size: 60% 85%;
    // background-position: bottom left;
    width: 100%;
    text-align: center;
    height: 100vh;
	overflow-x: hidden;
	
}
div#loginContent.content {
	div.nav_logged_out div#showHamburger.openHamburger {
		background-color: #4fac9c;
		border-top: 2px solid #36aa95;
	}
}
div.content.signup {
	font-size: 20px;
	// background: aqua url(../images/signupspongebob.jpg) no-repeat fixed 70% 0%;
	background: aqua url(../images/spongebobblank.jpg) no-repeat 70% 0%;
	background-size: 100% 100%;
	position: relative;

	div#localContent {
		margin-top: 60px;
	}
}
div.content.editprofile{
	background: aqua url(../images/spongebobblank.jpg) no-repeat 70% 0%;
	background-size: 100% 100%;
	position: relative;
}
div.content.chatPage{
	background: aqua url(../images/SBSP_PRE_E3-Credits.png) no-repeat 70% 0%;
	background-size: 100% 100%;
	position: fixed;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup, li {display: block;}
h1 {font-size: 2em; margin: 0 0 .5em 0; font-weight: normal; color: #ffd600; letter-spacing: .07em; }
h2 {font-size: 1.9em; margin: 0 0 1em 0; font-weight: normal; color: #ffd600; letter-spacing: .15em; }
h3 {font-size: 1.5em; margin: 0 0 1em 0; font-weight: normal; color: #ffd600; letter-spacing: .2em; }
li a {color:white; font: 16px Arial; padding: 0;}
li a:hover {color: #ffd600; font: 16px Arial;}
ul li {list-style: none; font: 1em;}
a {text-decoration: none; color:#fff51c}
//Fontawesome icons
i.fas, i.far{
	font-family: 'Fontawesome';
	font-style: normal;
	color: white;
	&:hover {color:#fff51c}
	&.check{
		color: rgb(90, 212, 90);
	}
	&.close{
		color: red !important;
		margin-right: 5px !important;
		font-size: 15px !important; 
	}
}
input.loginfield, input.signup, .viewme {
	padding: 2px;
	border-radius: 4px;
	font-size: 12px;
}

button,
.button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    background-color: #199cd8;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    outline: none;
    font-size: 12px;
    font-weight: 400px;
    letter-spacing: 1px;
    padding: 0 17px;
    text-transform: uppercase;
	line-height: 40px;
	display: inline-block;
	zoom: 1; *display: inline;
	cursor: pointer;
}

button:hover,
.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #1581b2;
    color: #fff;
}

/* Active */

button:active,
.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
    background-color: #199cd8;
}
/* ---------------RADIO LABELS ---------*/
span.radioLabel {
	margin-left: 5px;
	margin-right: 13px;
    vertical-align: middle;
}
/* a:hover {text-decoration: underline}; */
article {text-align: center;}
p.subtext {margin: 5px 0 10px 10px; font-size: 16px; font-weight: 400;}
div.login{
	position: relative;
	div.loginErrMsg{
		padding: 5px 0px 0px 5px;
		margin-top: -27px;
		position: absolute;
		color: yellow;
		font-size: 10px;
		font-weight: 600;
	}
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}
.mtp {margin-top: 10px;}
.mbm {margin-bottom: 10px;}
.ptp {padding-top: 10px;}
.pbm {padding-bottom: 10px;}
/* 
input[type="text"] {width: 130px;}
 */

label {
	margin-left: 10px;
}
#col2 {
	float: right;
	margin: 20px;
}

div#content {
	border: 2px solid yellow;
	min-height: 728px;
	margin: 0px auto;
	position: relative;
	clear: both;
}
div#loginContent.content div.nav_logged_out div#showHamburger.openHamburger {
	background-color: #4fac9c;
	border-top: 2px solid #36aa95;

	input[type="submit"]{
		margin-top: 5px;
		width: 170px;;
	}
}
div#topNavContainer{
	box-shadow: 0px 0px 13px 1px rgb(59, 58, 58);
	z-index: 1;

	&.indexPgNav{
		background-image: linear-gradient(
			141deg, 
			rgba(158, 183, 173, 0.7) 10%,
			rgba(94, 197, 169, 0.68) 53%)
		;
	}
	div.nav_logged_out {
		position: relative;
		z-index: 1;
		max-width: 1350px;
		margin: auto;

		input[type="email"], input[type="password"]  {
			padding: 5px;
			width: 170px;
		}
		input[type="submit"].loginBtn {
			padding: 6px 8px;
			line-height: initial
		}
		div.hamburger {
			padding: 20px;
			cursor: pointer;
			float: right;
			font-size: 35px;
			&.hide{
				display: none;
			}
		}
		
		div#showHamburger {
			visibility: hidden;
			position: absolute;
			top: 70px;
			right:0;
			width: 215px;
			background-color: rgba(50, 192, 218, 0.8);
			font-size: 35px;
			padding: 10px;
			overflow: hidden;
			height: 195px;
			div#hamburgerContent{position: relative;}
			ul {
				display: inline-block;
				li{
					margin-bottom: 6px;
					padding: 2px 45px;
					&:hover{background-color: rgb(63, 173, 192)}
				}
			}
		}
		
	}
}
div#localContent {
	position: relative;
	height: auto;
	width: auto;
	overflow: auto;
}
div#settingsPane {
	margin-top: 2%;
	margin-left: 1%;
	display: inline-block;
	box-shadow: 0 0 15px 1px gray;
	color: white;
	padding: 40px;
	min-height: 500px;
	border-radius: 8px;
	background-image: linear-gradient(
		141deg, 
		hsla(154, 15%, 67%, 0.5) 0%,
		rgba(31, 199, 218, 0.5) 51%, 
		hsla(196, 80%, 54%, .5) 75%);
}
/*----------------------------------------- SIGNUP FORM ---------------------------------------------*/
div.localContent.loginPage{
	// min-width: 1350px;
	max-width: 1350px;
	min-width: 730px;
	margin: auto;

	img.spongebobTitle{
		width: 100%;
	}

	img.spongebobSubtitle{
		width: 87.1%;
	}
}
section#welcome {
		/* fff51c yellow*/
		background: radial-gradient(#00808052 57%, teal 65%) no-repeat, url(../images/highres.jpg) no-repeat 63% 122%;
		background-size: cover;
		text-align: center;
		 position: relative;
		 padding-top: 2em;
		 padding-bottom: 9em;
		 display: inline-block;
		 // margin: 5em auto 2em 12%; 
		 margin: 3% 2% 0 1%; 
		 width: 56%;
		 color: white;
		//  width: 830px;
	
	#welcomemsg {
		margin-top: 28px;
	}
	h2#maintitle > img {
		margin-bottom: 6%;
	}

	h3 {
		margin-top: 60px;
		color: white;
		letter-spacing: normal;
	}
}

section#signupdiv {
	// float: right;
	// position: absolute;
	// margin: 5% 0 0 7.5%;
	// box-shadow: 0 0 15px 1px gray;
	color: white;
	padding: 20px 0px;
	vertical-align: top;
    display: inline-block;
	// // min-width: 900px;
	width: 40%;
	// border-radius: 8px;
	// background-image: linear-gradient(
	// 	141deg, 
	// 	hsla(154, 15%, 67%, 0.5) 0%,
	// 	rgba(31, 199, 218, 0.5) 51%, 
	// 	hsla(196, 80%, 54%, .5) 75%
	// );

	h2 {
		margin-bottom: 0px;
		color: white;
		letter-spacing: normal;
		margin-top: 15px;
	} 
	div#signupform {
		position: relative;
		// width: 50%;
		box-sizing: border-box;
		// border-right: 3px solid rgb(31, 199, 218);

		div.formMsg{
			font-size: 12px;
			color: #fff51c;
			position: absolute;
			line-height: 1.1em;
		}

		input.yellow {
			background-color: #fff51c;
		}
	}
	
	table#signuptable{
		margin: 0px auto;
		font-size: 18px;
		text-align: initial;
		width: 90%;

		td#asterisk{
			font-size: 12px;
			padding-left: 14px;
		}

		td {
			padding: 5px 0;
		}

		td input[type="text"], td input[type="password"]  {
			width: 100%;
			font-size: 16px;
			padding: 10px 10px;
		}
	}
	
	div#signupfb {
		// float: right;
		// width: 50%;
		box-sizing: border-box;
	
		p {margin-bottom: 5px;}
	
		div.verticalLine {
			border-left: 1px solid white;
			height: 70px;
			margin: 15px auto;
			width: 1px;
		}
	}
}

footer {
	border: 2px solid yellow;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	max-width: 1024px;
	margin: 0 auto 0px auto;
/* 	clear: both; */
}

#bottomnav {
 	position: relative;
 	width: 75%;
 	padding: 6% 0;
 	font-size: .85em;
 	margin-left: 15px;
 	border: 1px solid yellow;
}
 
#editprof td:nth-child(1), 
#signupdiv td:nth-child(1) {
/* 	text-align: right; */ 
	padding-right: 13px; 
	
}

/*--------------- TOP LEFT LOGO-------------- */
#toplogo {
	transform: rotate(-30deg);
	margin-right: 20px;
	margin-top: 6px;
	width: auto;
	float: left;

	img#navLogo{
		width: 81px;
		position: absolute;
		display: block;
		margin-left: 70px;
	}
}

/*------------------- TOP NAVIGATION-----------------*/
#navbar {
	top: 0;
	position: relative;
	margin: 0 0 0 18%;
	width: 500px; 
	padding: 16px 0;
	text-align: left;
}

ul.menu_standard li{
	display: inline-block;
	margin-right: 15%;
}

				 		
/*------------------------------------- BUTTONS AND INPUT FIELDS -------------------------------------------*/

#navbuttons {
	position: relative;
	margin-top: 18px;
	margin-right: 5px;
	float: right;
}

section#loginform {
	background-image: linear-gradient(
		141deg, 
		hsla(154, 15%, 67%, 0.8) 0%,
		hsla(186, 75%, 49%, .8) 51%, 
		hsla(196, 80%, 54%, .8) 75%);
	display: flex;
	justify-content: center;
	border-radius: 8px;
	padding: 40px 20px;
	margin: 0 auto;
	width: 300px;
}


div.fieldContainer {
	display: flex;
	margin-bottom: 8px;

	label {
		margin-right: 5px;
		flex: 1;
	}
}


#terms {
	text-decoration: none; 
 	color:#ffd600; 
 }
 a#terms:hover{
 	color: yellow;
 }


 
form.topbutton{
	display: inline;
	margin-left: 4px;
}
	 
.topbutton:hover{
	cursor: pointer;
}

.button2, #signup {
	background-color: #fff51c !important;
	border: 1px solid rgb(231, 230, 230) !important;
}

#button1 {width: 13.5em;}

.button2 {width: 14.5em;}

.button2:hover, #signup:hover {
	background-color: #ffd600 !important;
}
/*----------------------------------------- EDIT PROFILE ----------------------------------------------*/
div#settingsPane{

	#leftCol {
		float: left;
		padding: 20px 0 0 2px;
		position: relative;
		width: 179px;
	/*     word-wrap: break-word; */
	}
	.showInfo{
		color: yellow;
		line-height: 1.2em;
		font-size: 12px;
	}
	.showInfoValid {
		margin-left: 10px;
		line-height: 1.2em;
		font-size: 10px;
		color: rgb(209, 50, 22);
	}
	#rightCol {
		padding-top: 15px;
		position: relative;
		text-align: left;
		border-left: 1px solid aqua;
		margin-left: 179px;
		min-height: 450px;
	/*   border: 1px solid yellow; */
	}

	#rtColHeader {
		margin: 0 20px 0;
		width: 759px;
		height: 44px;
		color: white;
		text-align: left;
		border-bottom: 1px solid white;
	}

	#tabContent{
		padding: 0 20px;
		width: 759px;
	}

	h4, div.openPane { 
		margin: 0;
		min-width: 165px;
		float: left;
		font-size: 14px;
		padding-left:10px;
	}

	li a.selected{ 
		background-color: rgba(0, 255, 255, .5);
		
		&:hover{ color: white; }
	}

	li.settingsListItem {
		border-bottom: 1px solid white;
	}
	a.hide, span.hide {
		display: none !important;
	}
	li.settingsListItem a:hover, li.leftColItem a:hover {
		background-color: rgba(255, 255, 255, 0.356);	
	}
	.settingsDisplay { 
		margin-left: 175px; 
		display: block;
	}
	form.settingsForm { 
		border-top: 1px solid white;
		background-color: rgb(93, 182, 204) !important;
		padding-right: 155px; 
		font-size: 14px;
	}

	span.settings.formErr{
		font-size: 10px;
		margin-left: 7px;
	}
	div.formErr{
		margin-left: 20px;
		color:yellow;
		margin-top: 40px;
	}
	input.red {
		background-color: yellow !important;
	}
	input.signup.update {
		margin-bottom: 8px;
		padding: 3px;
	}
	input.updatebtn{
		margin: 8px 8px 8px 0;
		line-height: initial;
		text-transform: capitalize;
		padding: 6px;
		color: yellow;
	}
	input.updatebtn:hover{
		cursor: pointer;
	}
	.settings.disclaimer{
		font-size: 14px;
		line-height: 1.4em !important;
		background-color: #199cd862;
		margin-bottom: 3px;
		margin-top: 5px;
		padding: 3px;
		border-radius: 4px;
	}
	span.settingsChange {
		float: right;
		padding-right: 10px;
	}

	ul#settingsUl {padding-left: 20px; margin: 0;}

	a.leftColItem{ cursor: pointer; display: block; padding: 10px  5px;}
	a.settingsAnchor {
		display: block;
		padding: 10px 0;
		cursor: pointer;
	}
	div.updateInfo {
		display: none;
		color: green;
	}
	div.settingsEditorFields {
		margin-left: 180px;
		width: 400px;
		text-align: left;
	}
	div.settingsEditorLabel {
		margin: 10px;
		width: 155px;
		float: left;
		font: 14px Arial;
	}
}
/*----------------------------------------- MY PROFILE ----------------------------------------------*/
div.sunsetFilter{
	background-image: linear-gradient(
	141deg, 
	rgba(31, 218, 177, 0.6) 70%, 
	rgba(50, 192, 218, 0.8) 50%, 
	rgba(236, 222, 29, 0.8) 91%
);
	div.myProfilePgNav {
		background-color: rgba(50, 192, 218, 0.8);
		position: relative;
	}
}

//MY PROFILE------------------
section.myprofile {
	margin-top: 20px;
	position: relative;
	height: 645px;
	color: white;

	//CONTENT WRAPPER-------------
	section#myProfile {
		div.noData {
			//Div that appears when no data received
			border: 3px dashed #ffffff8c;
			border-radius: 6px;
			margin: 0 3%;
			height: 250px;
			color: #ffffff8c;
			cursor: pointer;
			&:hover{
				background-color: rgba(255, 255, 255, 0.24);
			}
		}
		//DEMOGRAPHICS + PROFILE PHOTO----------------
		#demographics {
			display: inline-block;
			height: 450px;
			box-shadow: -3px 0px 15px 2px rgb(59, 58, 58);
			border-radius: 6px;
			background-image: linear-gradient(
				141deg, 
				rgba(50, 192, 218, 0.8) 50%, 
				rgba(236, 222, 29, 0.8) 91%
			);
			font-size: 16px;
			text-align: center;
			padding: 10px 22px;
			margin-top: 3px;

			p {text-align: left;}
			>div{
				display: inline-block;
			}
			div.noData{
				width: 200px;
				height: 200px;
				margin: 0;
				margin-bottom: 10px;
				border-radius: 100px;
			}
			i#profilePic{
				display: inline-block;
				font-size: 145px;
				color: #ffffff8c;
				margin-top: 60px;
				margin-bottom: 55px;
			}
			img#profilePic {
				border: 3px solid white;
				border-radius: 100px;
				width: 200px;
				height: 200px;
				margin-bottom: 15px;
				background-color: gray;
			}
		}
		//CHAT WRAPPER DIV--------------------
		div.chat {
			//Inline-block + vertical-align
			//Inlne-block recognizes whitespace in HTML
			font: 13px "Trebuchet MS", sans-serif;
			display: inline-block;
			vertical-align: top;
			height: 450px;
			padding: 10px 20px;
			margin-top: 3px;
			box-shadow: 0 0px 15px 2px rgb(59, 58, 58);
			border-radius: 6px;
			width: 340px;
			background-image: linear-gradient(
				141deg, 
				rgba(50, 192, 218, 0.8) 20%, 
				rgba(236, 222, 29, 0.8) 61%

			);

			.chatstatus,
			.chatmsgs, 
			textarea,
			.chatname {
				border: 1px solid #bbb;
				width: 100%;
				padding: 10px;
				outline: none;
			}
			div#disconnect{
				position: relative;
				input.chatname {
					border-radius: 10px 10px 0px 0px;
					border-bottom: none;
					width: 100%;
				}
				button.disconnect{
					position: absolute;
					right: 0px;
				}
			}
			div.chatmsg {
				margin-bottom: 7px;
			
				span.msgName {font-weight: 600;}
				&.connectmsg {
					font-style: italic;
					float: left;
					padding: 0 25px;
					text-align: center;
					margin-bottom: 13px;
    				margin-top: 6px;
				}
				&.speech-bubble-lt {
					float: left;
					position: relative;
					background: rgba(0, 255, 255, 0.5);
					border-radius: 10px;
					max-width: 180px;
					padding: 6px;
					padding-left: 9px;
					margin-right: 100px;

					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 8%;
						width: 0;
						height: 0;
						border: 8px solid transparent;
						border-top-color: rgba(0, 255, 255, 0.5);
						border-bottom: 0;
						border-left: 0;
						margin-left: -11px;
						margin-bottom: -6px;
					}
				}
				&.speech-bubble-rt {
					float: right;
					position: relative;
					background: greenyellow;
					border-radius: 10px;
					max-width: 180px;
					padding: 6px;
					padding-left: 9px;
					margin-left: 100px;

					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 94%;
						width: 0;
						height: 0;
						border: 8px solid transparent;
						border-top-color: greenyellow;
						border-bottom: 0;
						border-right: 0;
						margin-right: -10px;
						margin-bottom: -6px;
					}
				}
				
			}
			div#outputStatus {
				margin-bottom: 15px;
				font-style: italic;
				float: left;
			}
			textarea {
				width: 100%;
				border-radius: 0px 0px 10px 10px;
				height: 45px;
				border-top: none;
				border-bottom: none;
				resize: none;
				padding-bottom: 5px;
			}
			div.chatstatus {
				border: none;
				color: white;
				padding-left: 1px;
			}
			div.chatmsgs {
				color: black;
				background: white;
				height: 320px;
				overflow-y: scroll;
				text-align: left;

				div#chatBoxText{
					margin-top: 100px;
					text-align: center;
					color: #bbb;
					font-size: 20px;
				}
			}
			button.disconnect{
				font-size: 8px;
				padding: 18px 3px 15px 3px;
				line-height: 0px;
				border-radius: 0 10px 0 0;
				letter-spacing: .3px;
				display: inline;
				border: 1px solid #bbb;
				border-bottom: none;
				border-left: none;
				cursor: pointer;
			}
		}
		//MEMBERS DIV----------------------------
		article#chatMembers{
			//Inline-block + vertical-align
			//Inlne-block recognizes whitespace in HTML
			display: inline-block;
			vertical-align: top;
			height: 450px;
			padding: 10px 12px;
			overflow: scroll;
			margin-top: 3px;
			box-shadow: 2px 0px 15px 1px rgb(59, 58, 58);
			border-radius: 6px;
			background-image: linear-gradient(
				-141deg, 
				rgba(50, 192, 218, 0.8) 40%, 
				rgba(236, 222, 29, 0.8) 80%
			);
			
			div.usersOnline{
				margin: 0px 10px 10px;
				display:inline-block;
			}
			p.subtextScroll {
				margin-bottom: 10px;
			}
			table.userScroll{
				margin-bottom: 24px;
				position: relative;

				td.userBurger{
					cursor: pointer;
					position: absolute;
					padding: 15px;
					top: 8px;

					i.burgerDots{
						font-size: 22px;
						margin-left: 5px;
						&.hide {display: none;}
						&:hover{box-shadow: 0 10px 35px 5px yellowgreen;}
					}
				}
				td.userBurgerOpen{
					display: none;
					position: relative;

					&.open{
						display: initial;
					}
					div.userBurgerMenu{
						position: absolute;
						overflow: hidden;
						top: 22px;
						left: -100px;
						background-color: rgba(153, 205, 50, 0.8);
						padding-left: 5px;
						border-radius: 4px;
						box-shadow: 0 2px 15px .5px gray;
						animation: example .5s;
						@keyframes example {
							from {left:0px; width: 0px;}
							to {left:-100px; width: 113px;}
						}

						.scrollIcons{
							padding-right: 7px; 
							margin-right:13px;
							cursor: pointer;
						}
					}

				}
				div.demosScroll{
					padding-left: 15px;
					line-height: 1.3em;
					font-size: 13px;
					text-align: left;
					width: 150px;
					white-space: nowrap;
				}
				td.scrollIcons{
					padding: 0 10px;

					&.hide{display: none;}
					&:hover{cursor: pointer;}
				}
			}
		}
		//INSTAGRAM-------------------------------
		section.instagram {text-align: center;}
		article#instagram {	
			display: inline-block;
			width: 100%;
    		max-width: 964px;
			min-height: 290px;
			max-height: 700px;
			overflow: auto;
			margin-top: 7px;
			margin-bottom: 60px;
			overflow: auto;
			box-shadow: 0 0 15px 2px rgb(59, 58, 58);
			border-radius: 6px;
			background-image: linear-gradient(
				141deg, 
				rgba(236, 222, 29, 0.8) 20%,
				rgba(50, 192, 218, 0.8) 61%
			);
			
			img.igImage{
				width: 250px;
				height: 250px;
				display: inline-block;
				text-align: center;
				margin-bottom: 30px;
				&:nth-child(odd){
					margin: 0px 30px 30px 30px;
				}
			}
		}
		img.myPicScroll {
			width: 50px;
			height: 50px;
			background-color: gray;
			border-radius: 25px;
			border: 1px solid white;
		}
		div.userStockImg{
			position: relative;
			overflow: hidden;
			height: 50px;
			width: 50px;
			border-radius: 25px;
			border: 1px solid white;
			background-color: rgba(255, 255, 255, 0.24);
		}
		i.userStockImg{
			position: absolute;
			top: 19px;
			left: 10px;
			font-size: 39px;
			&:hover{
				color: white;
			}
		}
	}
}

//------------------------------------- VIEW OTHER USER PROFILES --------------------------------------------
div.content.viewProfile{
	background: aqua no-repeat 70% 0%;
	background-size: 100% 100%;
	text-align: right;

	.nav_logged_out{
		position: absolute; 
		width: 100%;
	}
	article#viewIG {	
		display: inline-block;
		width: 100%;
		max-width: 764px;
		height: 700px;
		overflow: auto;
		padding-top: 70px;
		margin-bottom: 60px;
		overflow: auto;
		//box-shadow: 0 0 15px 2px rgb(59, 58, 58);
		background-color: rgba(255, 255, 255, .4);
		
		img.igImage{
			width: 150px;
			height: 150px;
			display: inline-block;
			text-align: center;
			//margin: 0px 30px 30px 0px;
			margin-bottom: 10px;
			&:nth-child(odd){
				margin: 0px 10px 10px 10px;
			}
		}
	}	
}

/*------------------------------------------- RESPONSIVE --------------------------------------------- */
// To display none then re-display, use js media queries with classes not css
@media only screen and (min-width:50px) and (max-width:1060px) {
	ul.menu_standard li { margin-right: 9%;}
	section.instagram{
		width: 888px;
		display: inline-block;
	}
	div.usersOnline{width: 250px;}
}

@media only screen and (min-width:50px) and (max-width:963px) {
	article#chatMembers, 
	section.instagram{width: 590px;}
	ul.menu_standard li { margin-right: 7%;}
	div.usersOnline{width: unset;}
	section.myprofile section#myProfile article#instagram img.igImage:nth-child(odd){
		margin: 0px 0px 30px 30px;
	}
}

@media only screen and (min-width:50px) and (max-width:950px) {
	#topNavContainer div.nav_logged_out div#showHamburger.openHamburger {
		visibility: visible;
		animation: openHamburger .7s;
		@keyframes openHamburger {
		from {height: 0px;}
		to {height: 195px;}
		}
		div#hamburgerContent {
			animation: ul .7s;
			@keyframes ul {
			from {margin-top: -192px;}
			to {margin-top: 0px;}
			}
		}
	}
	.welcome {margin-top: 60%;}
	#toplogo {border: none; display: hidden;}
	nav.myProfileNav {position: fixed; width: 100%; margin: 0;}
	#button1 {width: 9.5em;}
	.button2 { width: 10.5em;}
	.open {height: 300px;}
}

@media only screen and (min-width:50px) and (max-width:935px){
	#navbuttons {display: none;}
	ul.menu_standard li { display: none;}
	div.editProfileNav, div.loginNav {
		background-image: linear-gradient(
			141deg, 
			hsla(154, 15%, 67%, 0.8) 0%,
			rgba(31, 199, 218, 0.8) 51%, 
			hsla(196, 80%, 54%, .8) 75%);
		box-shadow: 0px 0px 13px 1px rgb(59, 58, 58);
	}
}

@media only screen and (min-width:50px) and (max-width:596px) {
	article#chatMembers, 
	section.instagram, 
	article#demographics {width: 340px;}
	img.igImage {margin-right:none;}
	section.myprofile section#myProfile article#instagram img.igImage:nth-child(odd){
		margin: 0px 0px 30px 0px;
	}
}

@media only screen and (min-width:50px) and (max-width:380px) {
	article#chatMembers, 
	section.instagram,
	div.usersOnline,
	article#demographics, 
	section.myprofile section#myProfile div.chat {width: 275px;}
	section.myprofile section#myProfile article#instagram img.igImage{width:180px; height:180px}
	section.myprofile section#myProfile div.chat div.chatmsg.speech-bubble-lt {
		margin-right: 70px;
	}
	section.myprofile section#myProfile div.chat div.chatmsg.speech-bubble-rt {
		margin-left: 70px;
	}
}
